<extend name="./Public/muban" />
    <block name="main">
    <!-- 大图片 -->
        <div class="land">
            <div class="content" style="background: #000 url('/Public/Images/hdbg.jpg') no-repeat center 0;">
        <div class="HeadTop">
            <div class="desc">
                <h2>Hitcase Pro+手机壳</h2>
                <p class="label"><em>589人申请</em><em>￥1350</em><em>10个</em></p>
                <p class="time">申请时间剩余：<em class="t_d">5</em>天<em class="t_h">8</em>小时<em class="t_m">24</em>分钟</p>
                <p class="btn" style=""><a href="" target="">立即申请</a></p>
            </div>
        </div>

        <!-- 轮播 -->

        <!-- <div class="hot">
            <div class="con">
                <div class="title">热门试用<span style="font-size: 14px;color: #999;font-weight: 100;padding-left: 10px;">每周二、周四上架新试用</span>--><!-- </div>
                <div id="slideBox" class="slideBox">
                    <div class="tempWrap">
                        <div class="focuslist" style="width: 2000px; left: 0px;">
                            <ul class="" style="width: 1000px; left: 0px;">
                            <li eventid="790" class="card load">
                            <a target="_blank" href="/event/index/790.html">
                                <span class="iconEvent-shoufa">首发</span>
                                <span class="zhezhaos"></span>
                                <img width="220" height="130" src="http://pic.jiguo.com/200717/0/5656bad2-5a7b-4ed7-bc5e-b5f0fa595f05/320X188" class="img">
                        <ul>
                            <li class="card" eventid="786">
                                <a href="" TARGET="_blank">
                                    <span class="zhezhaos"></span>
                                    <img class="img" src="/Public/Picture/e7312250fd044d1da92436f4317d4460.gif" width="220" height="130">
                                    <div class="desc">
                                        <p class="name">宝马2系旅行车</p>
                                        <span class="labes">
                                            <em>暂无</em>
                                            <em>2名</em>
                                        </span><p></p>
                                        <span class="sq">12人申请</span><br>
                                        <span class="cuttime">剩余时间:1天</span>
                                    </div>
                                </a>
                            </li>
                            <li class="card" eventid="782">
                                <a href="/event/index/782.html" TARGET="_blank">
                                    <span class="iconEvent-tyszx">体验师专享</span>
                                    <span class="zhezhaos"></span>
                                    <img class="img" src="/Public/Picture/dee7a948a699443981811a6990468b02.gif" width="220" height="130">
                                    <div class="desc">
                                        <p class="name">凯驰 K3.190 高压洗车机</p>
                                        
                                        <span class="labes">
                                            <em>暂无</em>
                                            <em>2名</em>
                                        </span><p></p>
                                        <span class="sq">12人申请</span><br>
                                        <span class="cuttime">剩余时间:1天</span>
                                    </div>
                                </a>
                            </li>
                            <li class="card" eventid="783">
                                <a href="/event/index/783.html" TARGET="_blank">
                                    <span class="iconEvent-tyszx">体验师专享</span>
                                    <span class="zhezhaos"></span>
                                    <img class="img" src="/Public/Picture/7db9283656dd48a7974e2608bca446ee.gif" width="220"  height="130">
                                    <div class="desc">
                                        <p class="name">Speedforce 一体式智能码表</p>
                                        
                                        <span class="labes">
                                            <em>暂无</em>
                                            <em>2名</em>
                                        </span><p></p>
                                        <span class="sq">12人申请</span><br>
                                        <span class="cuttime">剩余时间:1天</span>
                                    </div>
                                </a>
                            </li>
                            <li class="card" eventid="781">
                                <a href="/event/index/781.html" TARGET="_blank">
                                    <span class="iconEvent-tyszx">体验师专享</span>
                                    <span class="zhezhaos"></span>
                                    <img class="img" src="/Public/Picture/ca972add6f914c5b99f8d70d1242d20a.gif" width="220" height="130">
                                    <div class="desc">
                                        <p class="name">萨洛蒙S-LAB Wings越野跑鞋</p>
                                        
                                        <span class="labes">
                                            <em>暂无</em>
                                            <em>2名</em>
                                        </span><p></p>
                                        <span class="sq">12人申请</span><br>
                                        <span class="cuttime">剩余时间:1天</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div> 
        </div>
         -->


       <div class="hot">
           <div class="con">
               <div class="title">热门试用</div><!--<span style="font-size: 14px;color: #999;font-weight: 100;padding-left: 10px;">每周二、周四上架新试用</span>-->
               <div class="slideBox" id="slideBox">
                   <div class="tempWrap">
                       <div class="focuslist" style="width: 2000px; left: 0px;">
                        <ul class="" style="width: 1000px; left: 0px;">
                              <li eventid="790" class="card load">
                                <a target="_blank" href="">
                                    <span class="iconEvent-shoufa">首发</span>
                                    <span class="zhezhaos"></span>
                                    <img width="220" height="130" src="/Public/Picture/ca972add6f914c5b99f8d70d1242d20a.gif" class="img">
                                    <div class="desc">
                                        <p class="name">ThinkPad X1 Carbon笔记本</p>
                                        <span class="labes ">
                                            <em>14999元</em>
                                            <em>8台</em>
                                        </span>
                                        <p></p>
                                        <span class="sq"><span style="color: #fe5341;">1148</span> 人申请</span>
                                        <br>
                                        <span class="cuttime">剩余时间：12天</span>
                        
                                    </div>
                                </a>
                            </li>
                            <li eventid="793" class="card load">
                                <a target="_blank" href="">
                                <span class="zhezhaos"></span>
                                <img width="220" height="130" src="/Public/Picture/dee7a948a699443981811a6990468b02.gif" class="img">
                                <div class="desc">
                                    <p class="name">德龙 XLR18LM 手持无线吸尘器</p>
                                    <span class="labes ">
                                        <em>暂无</em>
                                        <em>12件</em>
                                    </span>
                                    <p></p>
                                    <span class="sq"><span style="color: #fe5341;">521</span> 人申请</span><br>
                                    <span class="cuttime">剩余时间：12天</span>
                                </div>
                                </a>
                            </li>
                            <li eventid="791" class="card load">
                                <a target="_blank" href="">
                                <span class="zhezhaos"></span>
                                <img width="220" height="130" src="/Public/Picture/e7312250fd044d1da92436f4317d4460.gif" class="img">
                                <div class="desc">
                                    <p class="name">Osprey 苍穹精灵徒步背包</p>
                                    <span class="labes ">
                                        <em>2180元</em>
                                        <em>10个</em>
                                    </span>
                                    <p></p>
                                    <span class="sq"><span style="color: #fe5341;">835</span> 人申请</span><br>
                                    <span class="cuttime">剩余时间：11天</span>

                                </div>
                                </a>
                            </li>
                            <li eventid="789" class="card load">
                                <a target="_blank" href="">
                                <span class="zhezhaos"></span>
                                <img width="220" height="130" src="/Public/Picture/ca972add6f914c5b99f8d70d1242d20a.gif" class="img">
                                <div class="desc">
                                    <p class="name">LifeStraw GO 生命水壶</p>
                                    <span class="labes ">
                                        <em>369元</em>
                                        <em>15个</em>
                                    </span>
                                    <p></p>
                                    <span class="sq"><span style="color: #fe5341;">1201</span>人申请</span><br>
                                    <span class="cuttime">剩余时间：13天</span>
                    
                                </div>
                                </a>
                            </li>
                        </ul>
                        <div class="page-wrapper">
                            <a hidefocus="true" class="focus-page-btn focus-btn-prev" href="javascript:void(0);"></a>
                            <a hidefocus="true" class="focus-page-btn focus-btn-next" href="javascript:void(0);"></a>
                        </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>



        <div class="jumbotron">
            <h1>极果首页</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
        <div class="jumbotron">
            <h1>极果首页</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
        <div class="jumbotron">
            <h1>极果首页</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </block>
