<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{$title}</title>
    <!-- 前台模板样式 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Css/g.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Css/g2.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Css/message.css">
    <!-- Bootstrap -->
    <link href="__PUBLIC__/Home/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/Home/dist/js/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/Home/dist/js/bootstrap.min.js"></script>
    <!-- 缩略图 holder.js-->
    <script src="__PUBLIC__/Home/dist/js/holder.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/Scripts/jiguo.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/Scripts/common.js"></script>
  </head>
<body>
<!--头部-->
    <div class="wrapper">
        <div class="head">
            <div class="header">
                <div class="logo">
                    <h2>
                        <a href="/" title="极果"><img src="__PUBLIC__/Picture/logonew.png" style="display: block;width: 132px;"></a>
                    </h2>
                </div>
                <div class="logoBtn">
                    <a href="__PUBLIC__/Home/javascript:return false" title="登录">登录</a>
                </div>
                <div class="search-into-nav-btn">
                    <form id="global-top-form" action="/search/index.html" method="get">
                        <input name="str" value="" id="header-top-search-box" class="search-into-text" type="text" placeholder="搜索">
                        <a id="showSearchBox"></a>
                    </form>
                </div>
                <div class="nav">
                    <ul class="navG">
                        <li class="navL on"><a class="nava" href=""><b>首页</b></a></li>
                        <li class="navL "><a class="nava" href=""><b>酷玩</b></a></li>
                        <li class="navL "><a class="nava" href=""><b>导购</b></a></li>
                        <li class="navL "><a class="nava" href=""><b>试用</b></a></li>
                        <li class="navL "><a class="nava" href=""><b>报告</b></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <block name="main">
        <div class="jumbotron">
            <h1>你好, world!</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </block>

<!--尾部-->
    <div class="Footer" id="Footer">
        <div class="footer">
            <div class="map">
                <dl class="t1">
                    <img class="code" src="__PUBLIC__/Picture/code.png">
                </dl>
                <dl class="t2">
                    <dt><img src="__PUBLIC__/Picture/logoimg.jpg"></dt>
                    <dd>全球酷玩试用导购平台<br/>酷·新奇·好玩·品质</dd>
                    <dd>微信添加“JguoJguo” <br/>获取我们的服务。</dd>
                </dl>
                <dl class="t3">
                    <dt>免费试用</dt>
                    <dd><a href="__PUBLIC__/404.html">试用流程</a></dd>
                    <dd><a href="__PUBLIC__/404.html">如何提高成功率</a></dd>
                    <dd><a href="__PUBLIC__/404.html">体验师攻略</a></dd>
                </dl>
                <dl class="t4">
                    <dt>友情链接</dt>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">智东西</a><a href="__PUBLIC__/404.html" target="_blank">搜狐IT</a></dd>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">腾讯科技</a><a href="__PUBLIC__/404.html" target="_blank">搜狐数码</a></dd>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">凤凰科技</a><a href="__PUBLIC__/404.html" target="_blank">凤凰数码</a></dd>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">PConline</a><a href="__PUBLIC__/404.html" target="_blank">泡泡网</a></dd>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">3W咖啡</a><a href="__PUBLIC__/404.html" target="_blank">ZUK社区</a></dd>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">亿觅emie</a><a href="__PUBLIC__/404.html" target="_blank">极客公园</a></dd>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">易迅易启玩</a><a href="__PUBLIC__/404.html" target="_blank">果库</a></dd>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">汽车科技</a><a href="__PUBLIC__/404.html" target="_blank">更多</a></dd>
                </dl>
                <dl class="t6">
                    <dt>购买攻略</dt>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">美亚海淘教程</a></dd>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">日亚海淘教程</a></dd>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">海淘转运攻略</a></dd>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">kickstarter 众筹购买攻略</a></dd>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">indiegogo 众筹购买攻略</a></dd>
                </dl>
                <dl class="t5">
                    <dt>厂商合作</dt>
                    <dd><a href="__PUBLIC__/404.html"  target="_blank">关于极果</a></dd>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">合作伙伴</a></dd>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">联系我们</a></dd>
                    <dt style="margin-top: 20px;">线下合作</dt>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">漂流箱</a></dd>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">展会联展</a></dd>
                    <dd><a href="__PUBLIC__/404.html" target="_blank">体验店合作</a></dd>
                </dl>
            </div>
            <div class="copyright">© 2016 极果版权所有</div>
        </div>
    </div>

<!--登入-->
   <!--  <div class="login_op" style="display: block;">
        <div class="layer"></div>
        <div class="loginWap">
            <div class="loginCon">
                <p class="login_win_close_wrap"><a href="javascript:;">×</a></p>
                <div class="login_container">
                    <div class="loginLeft" style="width:360px;border-right:1px solid #e3e3e3">
                        <div class="loginTit">使用极果账号直接登录</div>
                        <div class="Labels">
                            <label class="frm phone"><input placeholder="手机号" name="tel" type="text"></label>
                            <label class="frm pwd"><input placeholder="密码" name="passwd" type="password"></label>
                            <div class="rememberMe">
                                <label><input checked="checked" type="checkbox">下次自动登录 </label>
                            </div>
                            <div class="btn submitBtn"><a href="" >登录</a></div>
                            <div class="reg"><a href="" class="forgotPwd">忘记密码？</a><a href="" class="imReg">立即注册</a></div>
                        </div>
                    </div>
                    <div class="loginRight">
                        <div class="loginTit">使用账号直接登录</div>
                        <div class="code">
                            <img src="__PUBLIC__/Images/code.png" style="margin-bottom: -175px; z-index: 100;position: relative;">
                            <img src="" height="160" width="160">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


<!-- script -->
    <script>
        //快速滚动到顶部
        bodyIsScrollTop('index');
    </script>
</body>

</html>